/**
 * Reset
 */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * Utilities
 */
.notransition {
    transition: none !important;
}

/**
 * Browser
 */
body {
    height: 93vh;
}

[data-template] {
    display: none !important;
}

.clickable {
    cursor: pointer;
}

#browser {
    font-family: Lato;
    padding-top: 15px;
}

#browser .search {
	padding: 0 15px;
}

#browser h1 {
    color: #0F3E66;
    font-size: 15px;
    font-weight: 600;
}

#browser .search_rating, #browser .unrated {
    display: inline;
    font-size: 12px;
    padding-right: 5px;
}

#browser .search-pills li {
    padding: 0;
    margin: 0 1px;
}

#browser .search-pills li:first-of-type {
    margin-left: 0;
}

#browser .search-pills button {
    margin-bottom: 1px;
}

#browser .clear a {
    font-size: .7em;
    text-decoration: underline;
}

#browser .title {
    font-weight: bold;
}

#browser .current_rating {
    font-size: 14px;
}

#browser .details {
    font-size: 11px;
    font-weight: bold;
}

#browser .tags ul {
    display: block;
    margin-top: 10px;
}

#browser .tags li button {
    margin-bottom: 5px;
    transition: color .5s, background-color .5s;
}

#browser .pages {
    font-size: 16px;    
}

#browser .pages li {
    margin: 0px 1em;
    opacity: 0.8;
}

#browser .pages li.selected {
    font-size: 1.1em;
    opacity: 1;
}

#browser .ondeck {
    position: relative;
}

#browser .ondeck > div {
    position: absolute;
    top: 0;
    left: -12px;
    width: 25px;
    opacity: 0.1;
    transition: opacity .25s;
}

#browser .ondeck:hover > div {
    opacity: 1;
}

#browser .ondeck ul {
    max-height: 100%;
    overflow-y: scroll;
}

#browser .ondeck li {
    max-width: 80px;
    float: left;
	margin-bottom: 0px;
	border: 4px solid black;
	border-bottom-width: 1px;
	border-top-width: 1px;
}

#browser .ondeck img {
	max-width: 100%;
	height: auto;
}

#browser .stage img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

.xs #browser .ondeck {
	overflow: initial;
}

.xs #browser .stage {
    text-align: center;
}

.xs #browser .ondeck > div {
    display: none;
}

.xs #browser .ondeck li {
    max-width: initial;
    width: 33%;
    text-align: center;
    border: none;
}

.xs #browser .stage img {
    max-height: initial;
}